@import "tailwindcss";

*{
    box-sizing: border-box;
}
@layer base{
    li{
        @apply text-gray-900 text-2xl font-serif
    }

}
@layer components{
    .feature{
        @apply text-white font-serif mb-2
    }
    .value{
        @apply text-gray-400 font-sans mb-2
    }
    .form-input{
        @apply bg-white w-full mb-4 rounded-[2px] h-10 mt-1 p-2 text-gray-900
    }
}